@import "tailwindcss";

:root {
  --bg: #ffffff;
  --fg: #171717;

  --green: #009688;
  --green-dark: #00796b;
  --green-light: #e6f7f5;
  --lime: #c8e66d;

  --black: #000000;
  --white: #ffffff;

  --muted: #333333;
  --line: #e5e7eb;
  --card: #f8faf9;
}

@theme inline {
  --color-bg: var(--bg);
  --color-fg: var(--fg);

  --color-green: var(--green);
  --color-green-dark: var(--green-dark);
  --color-green-light: var(--green-light);
  --color-lime: var(--lime);

  --color-muted: var(--muted);
  --color-line: var(--line);
  --color-card: var(--card);

  --color-black: var(--black);
  --color-white: var(--white);

  --font-sans: var(--font-google-sans);
  --font-mono: var(--font-oswald);
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-sans);
}

.swiper-pagination-bullet-active {
  background: var(--green) !important;
}
